/* 
color combo:
    dark: 2a1a5e
    light: fb9224, #F8B92B,#F0B223
*/

body {
  background-color: #2a1a5e;
}

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a1a5e;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}
/* ---- stats.js ---- */
